.exp-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #121212;
    .exp-local{
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 100px;
        .exp-local-title{
            color: #ffffff;
            font-family: Inter;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .exp-local-jobs{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 50px;
            background-color: #151515;
            border-left-style: solid;
            border-left-width: 3px;
            border-left-color: #00d2df;
            .exp-local-jobs-name{
                color: #ffffff;
                font-family: Inter;
                font-weight: 400;
                font-size: 15px;
            }
        }
        .exp-local-jobs-ns{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 50px;
            background-color: #121212;
            border-left-style: solid;
            border-left-width: 3px;
            border-left-color: #151515;
            .exp-local-jobs-name{
                color: #c4c4c4;
                font-family: Inter;
                font-weight: 400;
                font-size: 15px;
            }
        }
    }
    .exp-info{
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin-top: 50px;
        margin-bottom: 50px;
        .exp-info-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .exp-info-title-func{
                color: #ffffff;
                font-family: Inter;
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 20px;
            }
            .exp-info-title-time{
                color: #ffffff;
                font-family: Inter;
                font-weight: 400;
                font-size: 15px;
                margin-bottom: 20px;
            }
        }
        .exp-info-name{
            color: #00d2df;
            font-family: Inter;
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 20px;
        }
        .exp-info-text{
            color: #c4c4c4;
            font-family: Inter;
            font-weight: 400;
            font-size: 15px;
            margin-bottom: 20px;
        }
    }
}

@media screen and(max-width: 1138px){
    .exp-container{
        flex-direction: column;
        align-items: flex-start;
        .exp-local{
            margin-left: 150px;
        }
        .exp-info{
            margin-left: 150px;
        }
    }
}

@media screen and(max-width: 850px){
    .exp-container{
        flex-direction: column;
        align-items: flex-start;
        .exp-local{
            margin-left: 100px;
        }
        .exp-info{
            margin-left: 100px;
            margin-right: 100px;
        }
    }
}

@media screen and(max-width: 550px){
    .exp-container{
        flex-direction: column;
        align-items: flex-start;
        .exp-local{
            margin-left: 100px;
        }
        .exp-info{
            margin-left: 100px;
            margin-right: 100px;
            .exp-info-title{
                flex-direction: column;
            }
        }
    }
}


@media screen and(max-width: 485){
    .exp-container{
        flex-direction: column;
        align-items: flex-start;
        .exp-local{
            margin-left: 50px;
        }
        .exp-info{
            margin-left: 50px;
            margin-right: 50px;
        }
    }
}